<form [formGroup]="recipeForm" (ngSubmit)="addRecipe()">
<div class="container-principal">
    <div class="div_title">
        <h1>Enregistrer une recette</h1>
    </div>
    <div class="bloc bloc_page bg-whiteBackground">
        <div class="bloc bloc_base">
            <div class="basic_infos">
                <div class="col col_numbers">
                    <div class="col_scale">
                        <div class="scale">
                            <input type="number" required="required" formControlName="serving" min="1" max="20" step="1" class="square-number" placeholder="0"/>
                        </div>
                        <span class="text"><strong>personne(s)</strong></span>
                    </div>
                    <div class="col_scale">
                        <div class="scale">
                            <input type="number" required="required" formControlName="duration" min="1" max="90" step="1" class="square-number" placeholder="0"/>
                        </div>
                        <span class="text"><strong>minutes(s)</strong></span>
                    </div>
                    <div class="col_scale">
                        <div class="scale">
                            <input type="number" required="required" formControlName="difficulty" min="1" max="4" step="1" class="square-number" placeholder="0"/>
                        </div>
                        <span class="text"><strong>difficulté</strong></span>
                    </div>
                </div>
                <div class="col">
                    <label for="name"><strong>Nom de la recette:</strong>
                        <input required="required" type="text" formControlName="name" placeholder="Ex: Risotto"/>
                    </label>
                </div>
            </div>
            <div class="select_mode" style="margin-top:20px;margin-bottom:20px;">
                <button type="button" (click)="changeMode('url')" class="primary-button">Via une URL</button>
            </div>
        </div>
        <div *ngIf="detailsMode == 'url'" class="bloc bloc_details">
            <h2>URL</h2>
            <label for="url">
                <input required="required" formControlName="url" placeholder="https://"/>
            </label>
        </div>
        <div *ngIf="detailsMode == 'details' || detailsMode == 'url'" class="bloc bloc_details">
            <button type="submit" class="primary-button">Ajouter la recette</button>
        </div>
    </div>
</div>
</form>